{
    "extends": "./node_modules/coding-standards/.eslintrc-node",
    "env": {
        "es6": true
    },
    "rules": {
        "valid-jsdoc": [2, {
            "requireReturn": false,
            "requireReturnDescription": false
        }]
    }
}
